@{
    ViewData["Title"] = "Karteikarten Trainer";
}

<div id="page-container">
    <div id="navigation-bar">
        <div id="navbar-container">
            @Html.Partial("_IctNavBar")
            <div class="clearfix"></div>
            <!-- ko if: $root.showProgressButtonBubble() -->
            <div id="ict-progress-menu-container" data-bind="style:{ display: $root.showProgressButtonBubble() === true ? 'block' : 'none'}">
                <div id="ict-progress-menu">
                    <button class="bttn" data-bind="click: MoveBackward, clickBubble: false;"><span class="icon icon-arrow-left"></span></button>
                    <button class="bttn" data-bind="click: MoveForward, clickBubble: false;"><span class="icon icon-arrow-right"></span></button>
                    <button class="bttn" data-bind="click: function() { $root.showProgressButtonBubble(false); }, clickBubble: false;"><span class="icon icon-cancel"></span></button>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
    <div id="content" data-bind="style: {display: $root.anyBoxIsSelected() ? 'block' : 'none'}">

        @*show flash messages here*@

        <div class="clearfix"></div>

        <div class="software-container">

            <!-- training area -->

            <section id="ict-content">

                <!-- ko if: $root.step() == 'restart' -->
                <div id="mvmt-no-data-container" style="text-align: center;">
                    <p>Herzlichen Glückwunsch. <br /> Sie haben alle Karteikarten durchgearbeitet.</p>
                    <button class="bttn" data-bind="click: restart"><span class="icon icon-restart"></span><span class="bttn-icon-text">Neustart</span></button>
                </div>
                <!-- /ko -->
                <!-- ko if: $root.step() == 'learn' -->

                <div id="ict-col-container">

                    <div id="ict-col-left">
                        <!-- ko if: $root.editMode() == false -->
                        <div id="ict-header">
                            <div id="ict-progress-container" data-bind="click: function() { $root.showProgressButtonBubble(true); };">
                                <div id="ict-progress">
                                    <span class="text" data-bind="text: ($root.i() + 1) + '&#47;' + $root.dataset().length"></span>
                                </div>
                            </div>
                            <div id="ict-known-info-container" data-bind="attr: {title: $root.currentIndexCard().known + ' mal gewusst.' }">
                                <span class="icon icon-learned"></span><span data-bind="text: $root.currentIndexCard().known"></span>
                            </div>
                        </div>
                        <!-- /ko -->
                        <div class="question-answer-container">
                            <div class="ict-question-container" data-bind="css: {'z-index-1 display-block' : $root.showQuestion()}">

                                <!-- ko if: $root.editMode() == false -->
                                <div class="ict-text-container" title="Bearbeiten" data-bind="click: function() { $root.editForm($root.currentIndexCard());}">
                                    <span class="question" data-bind="text: $root.currentIndexCard().question"></span>
                                </div>

                                <div class="ict-media-container">
                                    <!-- ko if: $root.currentIndexCard().questionImageUrl !== null -->
                                    <div class="img-mini-container cursor-pointer" data-bind="click: toggleQuestionImage">
                                        <img data-bind="attr: {src: GLOBAL.Uploads + $root.currentIndexCard().questionImageUrl}" alt="Lade Bild..." />
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: $root.currentIndexCard().questionAudioUrl !== null -->
                                    <!-- ko template: { name: 'AudioBoxTemplate', data: {AudioUrl: $root.currentIndexCard().questionAudioUrl }} --><!-- /ko -->
                                    <!-- /ko -->
                                </div>

                                <!-- /ko -->
                                <!-- ko if: $root.editMode() == true -->
                                <textarea class="ict-question-answer-text" rows="50" maxlength="500" data-bind="textInput: editIndexCard().question" placeholder="Bitte geben Sie hier eine Frage ein."></textarea>
                                <div class="ict-edit-img-container">
                                    <!-- ko if: editIndexCard().questionImageUrl == null -->
                                    <div id="ict-question-image-box" class="ict-img-box" tabindex="0">
                                        <!-- ko if: $root.editIndexCard().questionImageFile() != null -->
                                        <span>Bild gewählt</span>
                                        <!-- /ko -->
                                        <!-- ko if: $root.editIndexCard().questionImageFile() == null -->
                                        <span>Bild <a href="#" data-bind="click: function() { document.getElementById('ict-question-img-file').click(); }">wählen</a></span>
                                        <!-- /ko -->
                                    </div>
                                    <input name="question_image" id="ict-question-img-file" type="file" data-bind="event: { change: function(){  $root.QuestionImageChanged($element); }}" />
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().questionImageUrl !== null -->
                                    <div class="ict-img-box">
                                        <img id="ict-question-img" data-bind="click: toggleQuestionImage, attr: {src : GLOBAL.Uploads + editIndexCard().questionImageUrl }" alt="Bild ausgewählt" />
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().questionImageUrl !== null || $root.editIndexCard().questionImageFile() !== null -->
                                    <button class="bttn ict-bttn-delete-media" title="Bild löschen" data-bind="click: DeleteQuestionImage"><span class="icon icon-delete"></span></button>
                                    <!-- /ko -->

                                    <div class="clearfix"></div>
                                </div>

                                <div class="ict-edit-audio-container">
                                    <!-- ko if: editIndexCard().questionAudioUrl == null -->
                                    <div id="ict-question-audio-box" class="ict-audio-box" tabindex="1">
                                        <!-- ko if: $root.editIndexCard().questionAudioFile() != null -->
                                        <span>Audio gewählt</span>
                                        <!-- /ko -->
                                        <!-- ko if: $root.editIndexCard().questionAudioFile() == null -->
                                        <span>mp3 <a href="#" data-bind="click: function() { document.getElementById('ict-question-audio-file').click(); }">wählen</a></span>
                                        <!-- /ko -->
                                    </div>
                                    <input name="question_audio" id="ict-question-audio-file" type="file" data-bind="event: { change: function(){  $root.QuestionAudioChanged($element); }}" />
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().questionAudioUrl !== null -->
                                    <!-- ko template: { name: 'AudioBoxTemplate', data: {AudioUrl: editIndexCard().questionAudioUrl }} --><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().questionAudioUrl !== null || $root.editIndexCard().questionAudioFile() !== null -->
                                    <button class="bttn ict-bttn-delete-media" title="Audio löschen" data-bind="click: DeleteQuestionAudio"><span class="icon icon-delete"></span></button>
                                    <!-- /ko -->

                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- /ko -->
                            </div>

                            <div class="ict-result-container" data-bind="css: {'z-index-1 display-block' : !$root.showQuestion()}">

                                <!-- ko if: $root.editMode() == false -->
                                <div class="ict-text-container" title="Bearbeiten" data-bind="click: function() { $root.editForm($root.currentIndexCard());}">
                                    <span class="result" data-bind="text: $root.currentIndexCard().answer"></span>
                                </div>

                                <div class="ict-media-container">
                                    <!-- ko if: $root.currentIndexCard().answerImageUrl !== null -->
                                    <div class="img-mini-container cursor-pointer" data-bind="click: toggleAnswerImage">
                                        <img width="100" data-bind="attr: {src: GLOBAL.Uploads + $root.currentIndexCard().answerImageUrl}" />
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: $root.currentIndexCard().answerAudioUrl !== null -->
                                    <!-- ko template: { name: 'AudioBoxTemplate', data: {AudioUrl: $root.currentIndexCard().answerAudioUrl }} --><!-- /ko -->
                                    <!-- /ko -->
                                </div>
                                <!-- /ko -->
                                <!-- ko if: $root.editMode() == true -->
                                <textarea class="ict-question-answer-text" rows="50" maxlength="500" data-bind="textInput: editIndexCard().answer" placeholder="Bitte geben Sie hier eine Antwort ein."></textarea>
                                <div class="ict-edit-img-container">
                                    <!-- ko if: editIndexCard().answerImageUrl == null -->
                                    <div id="ict-answer-image-box" class="ict-img-box" tabindex="2">
                                        <!-- ko if: $root.editIndexCard().answerImageFile() != null -->
                                        <span>Bild gewählt</span>
                                        <!-- /ko -->
                                        <!-- ko if: $root.editIndexCard().answerImageFile() == null -->
                                        <span>Bild <a href="#" data-bind="click: function() { document.getElementById('ict-answer-img-file').click(); }">wählen</a></span>
                                        <!-- /ko -->
                                    </div>
                                    <input name="answer_image" id="ict-answer-img-file" type="file" data-bind="event: { change: function(){  $root.AnswerImageChanged($element); }}" />
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().answerImageUrl !== null -->
                                    <div class="ict-img-box" style="float: left;">
                                        <img id="ict-answer-img" data-bind="click: toggleAnswerImage, attr: {src : GLOBAL.Uploads + editIndexCard().answerImageUrl }" alt="Bild ausgewählt" />
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().answerImageUrl !== null || $root.editIndexCard().answerImageFile() !== null -->
                                    <button class="bttn ict-bttn-delete-media" title="Bild löschen" data-bind="click: DeleteAnswerImage"><span class="icon icon-delete"></span></button>
                                    <!-- /ko -->

                                    <div class="clearfix"></div>
                                </div>

                                <div class="ict-edit-audio-container">
                                    <!-- ko if: editIndexCard().answerAudioUrl == null -->
                                    <div id="ict-answer-audio-box" class="ict-audio-box" tabindex="1">
                                        <!-- ko if: $root.editIndexCard().answerAudioFile() != null -->
                                        <span>Audio gewählt</span>
                                        <!-- /ko -->
                                        <!-- ko if: $root.editIndexCard().answerAudioFile() == null -->
                                        <span>mp3 <a href="#" data-bind="click: function() { document.getElementById('ict-answer-audio-file').click(); }">wählen</a></span>
                                        <!-- /ko -->
                                    </div>
                                    <input name="answer_audio" id="ict-answer-audio-file" type="file" data-bind="event: { change: function(){  $root.AnswerAudioChanged($element); }}" />
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().answerAudioUrl !== null -->
                                    <!-- ko template: { name: 'AudioBoxTemplate', data: {AudioUrl: editIndexCard().answerAudioUrl }} --><!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko if: editIndexCard().answerAudioUrl !== null || $root.editIndexCard().answerAudioFile() !== null -->
                                    <button class="bttn ict-bttn-delete-media" title="Audio löschen" data-bind="click: DeleteAnswerAudio"><span class="icon icon-delete"></span></button>
                                    <!-- /ko -->

                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>

                    <div id="ict-col-right">

                        <div id="ict-label-container">
                            <button id="ict-label-question" class="ict-label cursor-pointer" data-bind="click: function() { $root.showQuestion(true);}, css: {'ict-label-activated' : $root.showQuestion()}">F<br />R<br />A<br />G<br />E</button>
                            <button id="ict-label-answer" class="ict-label cursor-pointer" data-bind="click: function() { $root.showQuestion(false);}, css: {'ict-label-activated' : !$root.showQuestion()}">
                                A<br />N<br />T<br />W<br />O<br />R<br />T
                            </button>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <!-- ko if: $root.editMode() == false -->
                <nav id="main-bttn-outer-container">
                    <div id="main-bttn-inner-container">

                        <button id="ict-bttn-edit-index-card" class="bttn bttn-icon" data-bind="click: function() { $root.editForm($root.currentIndexCard());}"><span class="icon icon-edit"></span></button>
                        <button id="ict-bttn-link" class="bttn bttn-icon" data-bind="click: function() { $root.toggleShowSource();}"><span class="icon icon-link"></span></button>
                        <button class="bttn bttn-icon" data-bind="click: toggleJingle"><span class="icon icon-bridge"></span></button>
                        <button id="ict-bttn-unknown" class="bttn ict-main-bttn" data-bind="click: function() { $root.next(0); }, disable: showQuestion" title="nicht gewusst"><span class="icon icon-thumb-down-white"></span></button>
                        <button id="ict-bttn-known" class="bttn ict-main-bttn" data-bind="click: function() { $root.next(1); }, disable: showQuestion" title="gewusst"><span class="icon icon-thumb-up-white"></span></button>

                        <div class="clearfix"></div>
                    </div>
                </nav>
                <!-- /ko -->
                <!-- /ko -->
                <!-- ko if: $root.editMode() == true -->
                <div id="ict-edit-mode-additions-bar">
                    <input id="ict-input-source" type="text" data-bind="click: function() { $root.sourceInputClick(); return false; }, clickBubble: false, textInput: editIndexCard().source, event : { 'keyup': sourceKeyUpEvent }" placeholder="Quelle" autocomplete="off" />
                    <input type="text" data-bind="textInput: editIndexCard().jingle" placeholder="Eselsbrücke" />
                </div>

                <div id="ict-edit-mode-bttn-footer">
                    <!-- ko if: $root.editIndexCardIsLoading() == false -->
                    <div style="float: right;">
                        <button class="bttn bttn-main" data-bind="click: function() { $root.editSave(); }"><span class="icon icon-save-white"></span><span class="bttn-icon-text">Speichern</span></button>
                        <button class="bttn" data-bind="click: function() { $root.editCancel(); }"><span class="icon icon-cancel"></span><span class="bttn-icon-text">Abbrechen</span></button>
                    </div>
                    <div style="float: left;">
                        <button class="bttn" data-bind="click: function() { $root.editDelete(); }"><span class="icon icon-delete"></span><span class="bttn-icon-text">Löschen</span></button>
                    </div>

                    <!-- /ko -->
                    <!-- ko if: $root.editIndexCardIsLoading() == true -->
                    <div style="float: right;"><span>Lade&nbsp;</span><img src="/img/hour_glass.gif" alt="..." /></div>
                    <!-- /ko -->

                    <div class="clearfix"></div>
                </div>
                <!-- /ko -->
            </section>
        </div>

    </div>
</div>

<script id="AudioBoxTemplate" type="text/html">
    <div class="ict-audio-box cursor-pointer" data-bind="click: function(){ $root.PlayAudioFile($data.AudioUrl);return false;}" title="Abspielen">
        <span data-bind="text: $root.AudioIsPlaying() ? 'Stop Audio' : 'Play Audio'"></span>
    </div>
</script>

<script id="index-card-box-form-template" type="text/html">
    <div id="index-card-box-form-container">
        <form>
            <input type="text" name="name" placeholder="Name der Box" maxlength="32" data-bind="textInput: editIndexCardBox().name" />
        </form>
    </div>
</script>

<script id="ict-options-dialog-template" type="text/html">
    <div id="ict-options-dialog-container" class="list-table software">
        <ul>
            <li class="col-1">Reihenfolge:</li>
            <li>
                <input id="IndexCardTrainerOrderRandom" type="radio" data-bind="value: 0, checked: $root.ictOptions().order">
                <label for="IndexCardTrainerOrderRandom" data-bind="css : {radioChecked : $root.ictOptions().order === 0}, click: function(){ $root.ictOptionOrderChanged(0); }">Zufall</label>
                <br>
                <input id="IndexCardTrainerOrderDescending" type="radio" data-bind="value: 1, checked: $root.ictOptions().order">
                <label for="IndexCardTrainerOrderDescending" data-bind="css : {radioChecked : $root.ictOptions().order === 1}, click: function(){ $root.ictOptionOrderChanged(1); }">Neuste</label>
                <br>
                <input id="IndexCardTrainerOrderAscending" type="radio" data-bind="value: 2, checked: $root.ictOptions().order">
                <label for="IndexCardTrainerOrderAscending" data-bind="css : {radioChecked : $root.ictOptions().order === 2}, click: function(){ $root.ictOptionOrderChanged(2); }">Älteste</label>
            </li>
        </ul>
        <div class="clearfix"></div>
        <ul>
            <li class="col-1">
                <label for="IndexCardTrainerKnown">Zeige gelernte Karteikarten an (3 grüne Daumen).</label>
            </li>
            <li>
                <div class="input checkbox">
                    <input id="IndexCardTrainerKnown" type="checkbox" data-bind="checked: $root.ictOptions().known, css : {checkboxChecked : $root.ictOptions().known}" />
                    <label for="IndexCardTrainerKnown"></label>
                </div>
            </li>
        </ul>
    </div>
</script>

<script id="ict-dialog-source-template" type="text/html">
    <div id="ict-dialog-source">
        <span data-bind="text: $root.currentIndexCard().source"></span>
    </div>
</script>

<script id="ict-dialog-jingle-template" type="text/html">
    <div id="ict-dialog-jingle">@*  *@
        <span data-bind="text: $root.currentIndexCard().jingle"></span>
    </div>
</script>

<script id="ict-search-dialog" type="text/html">
    <div id="ict-search-window">

        <form style="text-align: center;">
            <input id="ict-search-txt" type="text" /><button id="ict-bttn-search-idc" data-bind="click: function(){ $root.searchIndexCard();};" class="bttn"><span class="icon icon-search"></span><span class="bttn-icon-text remove-630px">Suche</span></button>
        </form>

        <!-- ko if: $root.searchShowHourGlass() -->
        <div style="text-align: center;">
            <img src="/img/hour_glass.gif" alt="Loading..." style="text-align: center;" />
        </div>
        <!-- /ko -->
        <!-- ko if: $root.searchResult().length > 0 -->
        <table id="ict-search-result-table">
            <thead>
            <tr>
                <th class="th col-1">Frage</th>
                <th class="th col-2">Karteikasten</th>
                <th class="th col-3">Gewusst</th>
            </tr>
            </thead>
            <tbody class="tbody" data-bind="foreach: searchResult">
            <tr class="tr" data-bind="click: function() { $root.searchEditIndexCardClick($data.IndexCard);}">
                <td class="td col-1"><span data-bind="text: $data.IndexCard.question"></span></td>
                <td class="td col-2"><span data-bind="text: $data.IndexCardBox.name"></span></td>
                <td class="td col-3">
                    <!-- ko if: $data.IndexCard.known < 3 -->
                    <span></span>
                    <!-- /ko -->
                    <!-- ko if: $data.IndexCard.known >= 3 -->
                    <span class="icon icon-learned"></span>
                    <!-- /ko -->
                    <span data-bind="text: $data.IndexCard.known"></span>

                </td>
            </tr>
            </tbody>
        </table>

        <!-- /ko -->
    </div>
</script>

<script id="latest-sources-dropdown-template" type="text/html">
    <!-- ko if: $root.latestSources().length > 0 -->
    <div id="latest-sources-dropdown-list" data-bind="foreach: latestSources">
        <div class="latest-sources-dropdown-list-item" data-bind="click: function(e){ $root.latestSourcesClick($data); }, clickBubble: false;"><span data-bind="text: $data"></span></div>
    </div>
    <!-- /ko -->
</script>

<script id="sandtimer-dialog-template" type="text/html">    
    <div id="sandtimer-container">
        <!-- ko if: $root.sandtimerRunning() === false -->
        <input type="number" id="sandtimer-hours" name="sandtimer-hours" min="0" max="24" data-bind="value: sandtimerHours">
        <span>:</span>
        <input type="number" id="sandtimer-minutes" name="sandtimer-hours" min="0" max="59" data-bind="value: sandtimerMinutes">
        <span>:</span>
        <input type="number" id="sandtimer-seconds" name="sandtimer-seconds" min="1" max="59" data-bind="value: sandtimerSeconds">
        <p>
            <i>(Stunden : Minuten : Sekunden)</i>
        </p>
        <!-- /ko -->
        <!-- ko if: $root.sandtimerRunning() === true -->
        <p><span data-bind="text: $root.sandtimerDisplayValue()"></span></p>
        <p></p>
        <!-- /ko -->
        <!-- ko if: $root.sandtimerRunning() === false -->
        <button data-bind="click: function() { $root.sandtimerStart();}" class="bttn bttn-main"><span class="bttn-icon-text">Start</span></button>
        <!-- /ko -->
        <!-- ko if: $root.sandtimerRunning() === true -->
        <button data-bind="click: function() { $root.sandtimerStop();}" class="bttn bttn-main"><span class="bttn-icon-text">Stop</span></button>
        <!-- /ko -->
        <!-- ko if: $root.sandtimerRunning() === false -->
        <button data-bind="click: function() { $root.sandtimerReset();}">Reset</button>
        <!-- /ko -->
    </div>
</script>

<script id="sandtimer-elapsed-template" type="text/html">
    <div id="sandtimer-elapsed-container">
        <img src="@Url.Content("~/img/hourglass.png")" />
        <p><span>Die Zeit ist abgelaufen.</span></p>
    </div>
</script>

<script type="text/javascript" src="@Url.Content("~/js/lib/jquery.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/lib/knockout.js")"></script>
<script src="@Url.Content("~/js/lib/require.js")" data-main="@Url.Content("~/js/MainViewModel")"></script>
